<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ selfAddr }}</title>

        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../Styles/layout.css">
        <link rel="stylesheet" href="../Styles/styles.css">
        <link rel="stylesheet" href="../Styles/jquery.tagsinput.css">
        <script src="../Scripts/vendor/jquery-2.1.4.min.js"></script>
        <script src="../Scripts/vendor/jquery.tagsinput.js"></script>
        <script src="../Scripts/demo.js"></script>
    </head>

    <body>
        <header>
            <span id="logo"><img src="../Content/Images/BottleLogo.png" alt="Bottleneck"/></span>
            <h1>{{ selfAddr }}</h1>
        </header>
        <main>
            <section id="messages">
                <textarea id="messageContents" rows="5" readonly="readonly"></textarea>
            </section>
            <hr />
            <section id="tabs">
                <button id="joinTab">Join</button>
                <button id="publishTab">Publish</button>
                <button id="subscribeTab">Subscribe</button>
                <button id="unsubscribeTab">Unsubscribe</button>
                <button id="clearMessages">Clear</button>
            </section>
            <hr/>
            <section id="join" class="tab">
                <label for="joinPort">127.0.0.1:</label>
                <input id="joinPort" placeholder="Port"/>
                <button id="joinPortButton">Join</button>
            </section>
            <section id="publish" class="tab">
                <textarea id="publishContents" placeholder="Contents" rows="5"></textarea>
                <input id="publishTags" class="tags" value="" />
                <button id="publishButton">Publish</button>
            </section>
            <section id="subscribe" class="tab">
                <p>(tags, contents) &rArr;</p>
                <textarea id="subscribeFilter" placeholder="Filter" rows="1"></textarea>
                <input id="subscribeTags" class="tags" value=""/>
                <input id="subscribeRetrieveOld" type="checkbox"/>
                <label for="subscribeRetrieveOld">Retrieve old messages</label>
                <button id="subscribeButton">Subscribe</button>
            </section>
            <section id="unsubscribe" class="tab">
                <input id="unsubscribeId" placeholder="Subscription ID" />
                <button id="unsubscribeButton">Unsubscribe</button>
            </section>
        </main>
        <footer>
            <hr/>
            <div class="row panel" id="course">Internet of Things/Peer-to-Peer Project</div>
            <div class="row" id="authors">
                <span class="panel emphasised">Mikkel Lambæk</span><span class="panel emphasised">Steffen Diswal</span></div>
        </footer>
    </body>
</html>